<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dompine.orz2021.funnyImg.mapper.FunnyImgMapper">

<!--    <select id="searchAllByCreatedTimeBetween"-->
<!--            parameterType="long" resultType="com.dompine.orz2021.funnyImg.entity.FunnyImg">-->
<!--        select * from funny_img where created_time between #{t1,t2}-->
<!--    </select>-->
    <select id="searchAllByCreatedTimeBetween" resultType="com.dompine.orz2021.funnyImg.entity.FunnyImg">
        select funny_img_id,img_path,oo,xx from funny_img where created_time between #{t1} and #{t2}
    </select>
</mapper>
